*{
    background-color: rgb(27, 26, 26);
    padding: 0;
    margin: 0;
}

.contain{
    align-items: center;
    display:flex;
    flex-direction: column;
    margin-top: 180px;
    gap: 5px;
}

.codeError{
    color: #ffffff;
    font-size: 10rem;
    font-family:monospace;
}

.Description{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4760ff;
    font-size: xx-large;
    margin-bottom: 50px;
}

a{
    text-decoration: none;
    color: #f0b2f8;
    background: inherit
}

button{
    padding: 7px;
    border: 1px solid ;
    border-radius: 10px;
    background: linear-gradient(to right, #1426a3,#d907f5);
    width: 120px;
    font-size: x-large;
}

button:hover {  
    transition: 1s;
    border-radius: 25px;
    transform: scale(1.1);
    width: 135px;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    background: linear-gradient(to left, #1426a3,#d907f5);
}




